*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blob{
    position: relative;
    bottom: 320px;
    right: 345px;
}

.carousel{
    position: relative;
    bottom: 620px;
}

.slide{
    width: 100%;
}

.index-body{
    margin: 50px;
    position: relative;
    bottom: 530px;
   
}

.popular-this-week__articles > p{
font-size: 20px;
line-height: 32px;
font-weight: 600;
color: rgb(134, 142, 150);
}

.popular-this-week__articles > h2{
    color: rgb(134, 142, 150);

}

.imagessection{
    display: flex;
    margin-top: 30px;
}

.images1 > img{
    width: 400px;
}

.images1 > a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    
}

.images1:hover {  
    transition: 395ms;
    transition-timing-function: linear;
    transform: scale(1.1,1.1);
	transform-origin: center;
 
}

.images2 > img{
    margin-left: 172px;
    width: 596px;
}

.imagessecond2{
    position: relative;
    bottom: 448px;
    left: 29px;
}

.imagessecond2 > a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    
}

.images2:hover {  
    transition: 395ms;
    transition-timing-function: linear;
    transform: scale(1.1,1.1);
	transform-origin: center;
 
}


.imagessection2{
    display: flex;
    
}

.imagesthird > img{
    width: 503px;
    margin-left: 104px;
}

.imagesthird3 > a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    
}

.imagesthird:hover {  
    transition: 400ms;
    transition-timing-function: linear;
    transform: scale(1.1,1.1);
	transform-origin: center;
}

.imagesthird3{
    position: relative;
    bottom: 440px;
    left: 32px;
}

.imagesfourth > img{
    width: 310px;
    margin-left: 203px;
}

.imagesfourth4 > a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    
}

.imagesfourth:hover {  
    transition: 400ms;
    transition-timing-function: linear;
    transform: scale(1.1,1.1);
	transform-origin: center;
 
}

.imagesfourth4{
    position: relative;
    left: 212px;
}
